@charset "utf-8";

body {
   font-family: arial, "微软雅黑";

}

/*清楚默认样式*/
a {
  text-decoration: none;
  color: #000;
}
label {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

/*清楚浮动*/
.clear {
  zoom: 1;
}
.clear {
  content: "
  display: block;
  clear: both;
}


.DreamReader {
  overflow: hidden;
  margin: 0 auto;
  width: 1360px;
  background-color: #f0f1f5;
}
.nav {
  height: 52px;
  width:  100%;
  border-bottom: 2px solid #f62a5a;
  background: -webkit-linear-gradient(top, #80422a, #44303b);
  background: -moz-linear-gradient(top, #80422a, #44303b);
  background: -o-linear-gradient(top, #80422a, #44303b);
  background: -ms-linear-gradient(top, #80422a, #44303b);
}
.logo {
  float: left;
  line-height: 52px;
  width: 270px;
  font-size: 20px;
  color: #fff;
}
.logo img {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  vertical-align:middle;
}
.nav_list {
  float: left;
}
.nav_list li {
  float: left;
  margin-top: 10px;
  width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;

}
.nav_list li a{
  font-size: 16px;
  color: #fff;

}
.active {
  display: inline-block;
  width: 110px;
  height: 30px;
  color: #333 !important;
  border-radius: 3px;
  background: -webkit-linear-gradient(top, #ddb8a6, #a8a8b4);
  background: -moz-linear-gradient(top, #ddb8a6, #a8a8b4);
  background: -o-linear-gradient(top, #ddb8a6, #a8a8b4);
  background: -ms-linear-gradient(top, #ddb8a6, #a8a8b4);
}
.account {
  float: right;
  line-height: 52px;
  margin-right: 10px;
  font-size: 12px;
  color: #fff;
}
.account a {
  margin-left: 10px;
  color: #fff;
}
.account a:hover {
  color: #f0f0f0;
}


.sort {
  float: left;
  width: 270px;
  height: 100%;
  font-size: 14px;
  background-color: #472d2f;
}
.sort p {
  margin-top: 70px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
}
.sort_list li {
  padding-left: 15px;
  height: 45px;
  line-height: 45px;
  color: #fff;

}
.sort_list li:hover {
  cursor: pointer;
  color: #f0f0f0;
}
.sort_active {
  background-color: #474d5d;
}


.seek {
  margin-top: 10px;
}
.seek, .content,.search_info {
  float: left;
  margin-left: 20px;
}

.content,.search_info {
  display: none;
}

.reload,.bulk_import,.remove{
	cursor: pointer;
}
.search {
  padding-left: 5px;
  width: 290px;
  height: 28px;
  border: 1px solid #333;
  border-radius: 3px;
}
.search_btn {
  width: 90px;
  height: 28px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #161d34;
  cursor: pointer;
}
.operate {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.operate span{
  display: inline-block;
  width: 90px;
  height: 28px;
  margin-right: 3px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  vertical-align:middle;
}
.operate img {
  position: relative;
  top: 3px;
}

.content_main {
  float:left;
  width: 1060px;
}
.main_info {
  width: 1040px;
  min-height: 920px;
  color: #2b2b2b;
  background: #fff;
}
.main_nav_title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 2px solid #f0f1f5;
}
.main_nav_title li{
  float: left;
  text-align: center;
  border-left: 2px solid #f0f1f5;
}
.main_nav_title input {
  margin-right: 22px;
}
.ready_nav_list {
	overflow: hidden;
}
.ready_nav li:nth-child(1),.ready_nav_list li:nth-child(1) {
  width: 97px;
  border-left: none;
}
.ready_nav li:nth-child(2),.ready_nav_list li:nth-child(2) {
  width: 383px;
}
.ready_nav li:nth-child(3),.ready_nav_list li:nth-child(3) {
  width: 147px;
}
.ready_nav li:nth-child(4),.ready_nav_list li:nth-child(4) {
  width: 120px;
}
.ready_nav li:nth-child(5),.ready_nav_list li:nth-child(5) {
  width: 205px;
}
.ready_nav li:nth-child(6),.ready_nav_list li:nth-child(6) {
  width: 80px;
}

/*文章池*/
.essay_nav li:nth-child(1),.essay_nav_list li:nth-child(1) {
  width: 98px;
  border-left: none;
}
.essay_nav li:nth-child(2),.essay_nav_list li:nth-child(2) {
  width: 228px;
}
.essay_nav li:nth-child(3),.essay_nav_list li:nth-child(3) {
  width: 112px;
}
.essay_nav li:nth-child(4),.essay_nav_list li:nth-child(4) {
  width: 144px;
}
.essay_nav li:nth-child(5),.essay_nav_list li:nth-child(5) {
  width: 72px;
}
.essay_nav li:nth-child(6),.essay_nav_list li:nth-child(6) {
  width: 72px;
}
.essay_nav li:nth-child(7),.essay_nav_list li:nth-child(7) {
  width: 141px;
}
.essay_nav li:nth-child(8),.essay_nav_list li:nth-child(8) {
  width: 70px;
}
.essay_nav li:nth-child(9),.essay_nav_list li:nth-child(9) {
  width: 90px;
}

.import {
  cursor: pointer;
}
.import:hover {
  color: #999;
}
.main_nav_list {
  display: flex;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 1px solid #f0f1f5;
  background-color: #fff;
}
.main_nav_list li {
  flex-grow: 1;
  padding-top: 10px;
  text-align: center;
  border-left: 2px solid #fff;
}
.main_nav_list li img {
  width: 50px;
  height: 35px;
  vertical-align:middle;
}
.main_nav_list input {
  margin-right: 15px;
}

.page {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 95%;
  text-align: center;
}
.page span {
  display: inline-block;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  background-color: #dcdcdc;
  cursor: pointer;
}
.current {
  color: #fff;
  background-color: #472d2f !important;
}


/*文章池内容*/


.out_modify, .text_modify, .issue_button,.focused_button{
  color: #4b91df;
  cursor: pointer;
}
.text_modify a {
  color: #4b91df;
}
.noissue,.nofocused {
  color: #acacac;
}
.essay_nav_list {
  position: relative;
}
.text_info {
	cursor: pointer;
}
.text_info:hover{
	color: #9a9a9a;
}
.show_text {
  display: none;
  position: absolute;
  top: 35px;
  left: 170px;
  z-index: 5;
  padding:3px 10px;
  line-height: 20px !important;
  width: 450px;
  font-size: 13px;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow:1px 2px 9px #333333;
  -webkit-box-shadow:1px 2px 9px #333333;
  box-shadow:1px 2px 9px #333333;
}

/*修改弹出框*/
.alter_info {
  display: none;
  position: fixed;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1000;
  height: 600px;
  width: 800px;
  border: 3px solid #523437;
  background-color: #FFFFFF;
}

.mask,.alter_mask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  filter: alpha(opacity=60);
  opacity: 0.5;
  -moz-opacity: 0.5;
  background-color: #B2B2B2;
}
.alter_mask {
  display: none;
  height: 600px;
  width: 800px;
}
.alter_head {
  height: 40px;
  padding: 0 5px;
  line-height: 40px;

  color: #fff;
  background-color: #523437;
}
.alter_title {
  float: left;
}
.alert_off {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.alert_main {
  padding-top: 20px;
  padding-left: 10px;
  position: relative;
}
.alert_list {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.alert_topic{
  font-size: 14px;
}
.hint_p {
  width: 250px;
  height: 20px;
}
.alert_hint {
  display: none;
  color: red;
  font-size: 12px;
  margin-left: 70px;
}
.inp{
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #7d7d7d;
  border-radius: 3px;
}
.inp {
  width: 520px;
  height: 30px;
  padding-left: 5px;
  font-size: 13px;
  color: #2b2b2b;
}
.check {
  float: left;
}



.options {
  height: 28px;
  border-bottom: 2px solid #7d7d7d;
}
.options:nth-of-type(3) {
  border:0;
}
.options label{
  display: inline-block;
  width: 90px;
  height: 28px;
  line-height: 28px;
  color: #2b2b2b;
  text-align: center;
  border-right: 2px solid #7d7d7d;
}
.options label:last-child {
  border: 0;
}

.options input{
  width: 13px;
  height: 13px;
}
.options span {
  font-size: 12px;
  margin-left: 15px;
}

.alert_textarea {
  float: left;
  width: 519px;
  height: 90px;
  padding: 3px;
  font-size: 13px;
  color: #2b2b2b;
  border: 2px solid #7d7d7d;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}


.music_pic {
  width: 538px;
  height: 38px;
  vertical-align:middle;
}
.music_begin {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.music_btn {
  position: absolute;
  top: -4%;
  left: 3px;
}
.play_eff {
  display: none;
  position: absolute;
  top: 12%;
  left: 12px;
  width: 25px;
  height: 25px;
}
.new_eff {
  position: absolute;
  top: 18%;
  left: 8px;
}
.play_eff img {
  position: absolute;
  top: 0;
  left: 0;
}
.play_eff img:nth-of-type(1),
.play_eff img:nth-of-type(2),
.play_eff img:nth-of-type(3){
  -webkit-animation:1s 1s ease infinite alternate;
  -webkit-animation-name:moves;
  -moz-animation:1s 1s ease infinite alternate;
  -moz-animation-name:moves;
}

@-webkit-keyframes moves{
  0%{opacity:0}
  /*50%{opacity:0.5}*/
  100%{opacity:1}
}
@-moz-keyframes moves{
  0%{opacity:0}
  /*50%{opacity:0.5}*/
  100%{opacity:1}
}
.section_button {
  width: 600px;
  height: 30px;
  padding-top: 10px;
}
.create_btn {
  float: right;
}
.create_btn,.btn {
  display: inline-block;
  width: 105px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #472d2f;
  border-radius: 3px;
  cursor: pointer;
}
.alert_btn {
  margin-top: 50px;
  text-align: center;
}
.alert_btn span {
  display: inline-block;
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #474747;
  border-radius: 3px;
  cursor: pointer;
}

.issue_win {
  display: none;
  position: absolute;
  left:calc(50% - 185px);
  top:calc(50% - 70px);
  z-index: 1000;
  width: 370px;
  height:140px;
  background-color: #eeeeee;
  border: 3px solid #523437;
  border-radius: 3px;
}
.issue_win h4 {
  margin-top: 10px;
  text-align: center;
}
.issue_title {
  padding-right: 5px;
  height: 24px;
  text-align: right;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #523437;
  cursor: pointer;
}
.issue_off {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}
.save_win {
  margin-top: 30px;
  text-align: center;
}
.save_win span {
  display: inline-block;
  width: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #a0a0a0;
  background-color: #fff;
  cursor: pointer;
}


/*发文内容*/
.publish_info {
  background-color: #f0f0f0;
}

.publish_compile {
  float: left;
  width: 390px;
}
.inp {
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #7d7d7d;
  border-radius: 3px;
}
.inp_s {
  width: 260px;
}
.alert_table {
  margin-left: 7px;
}
.table {
  position: relative;
  min-height:30px;
}
.alert_table {
  position: absolute;
  top:0;
  width: 281px;
}
.table_new {
  left: 60px;
}
.table_odd {
  left: 64px;
}
.alert_table td{
  width: 50px;
  line-height: 28px;
  color: #2b2b2b;
  text-align: center;
  font-size: 12px;
  border: 2px solid #7d7d7d;
}
.alert_table td span {
  margin-left: 7px;
}
.img_upload {
  position: relative;
  height: 90px;
  margin-top: 10px;
}
.prev_btn,.file {
  position: absolute;
  top: 0;
  left: 70px;
}
.file {
  width: 105px;
  z-index: 2;
  opacity: 0;
  filter:alpha(opacity=0);
}
.upload_btn {
  position: absolute;
  top: 0;
  right: 20px;
}
.show_img {
  display: none;
  position: absolute;
  top: -42px;
  left: 68px;
  z-index: 5;
  width: 120px;
  height: 120px;
  text-align: center;
  background: #fff;
  border: 2px solid #333;
}
.show_img img{
  width: 110px;
  height: 110px;
  vertical-align:middle;
}
.textarea_new {
  width: 265px;
  height: 190px;
}
.create_new {
  float: left;
  margin-left: 70px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.new_mp3s {
  line-height: 40px;
}
.s_music_pic{
  vertical-align:middle;
  width: 280px;
  height: 38px;
}
.s_music_btn {
  position: absolute;
  top: 3%;
  left: -3px;
}
.publish_text {
  float: left;
  padding-top: 20px;
  padding-left: 10px;
  height: 900px;
}
.publish_text textarea {
  width: 935px;
  height: 750px;
  padding: 5px;
  font-size: 13px;
  color: #2b2b2b;
  border: 2px solid #7d7d7d;
  border-radius: 3px;
}
.publish_refer {
  margin-bottom: 80px;
}
.state_info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f1f5;
  -moz-box-shadow:0px 2px 10px #333333;
  -webkit-box-shadow:0px 2px 10px #333333;
  box-shadow:0px 2px 10px #333333;
}
.num_hint {
  font-size: 13px;
  font-weight: bold;
}
.text_hint {
  margin-left: 300px;
}




.faceShow{
	width:100%;
	margin:0 auto;
	position:relative;
}
.faceShow span{
	line-height:10px;
	padding:5px;
	width:10%;
	text-align:center;
	border:1px #000000 solid;

}
#faceContent{
	width:800px;
	border:1px #CCCCCC solid;
	display:none;
	border-radius:5px;
}
.Allclip{
	clear: both;
	width:70%;
	margin:20px auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
.Allclip ul{
	width:500px;
	margin:0 auto;
}

